body{

margin: 0;
 background-color: #001d3d;
}

.menu{
 padding: 0 50px;
 display: flex;
 height: 90px;
 align-items: center;
 margin: 30px 50px;
 border: 1px solid #ffc300;
 border-radius: 40px;
}
.link{
 text-decoration: none;
 font-size: 30px;
 color:#ffc300;
 margin: 0 25px;
}
.logo{
 text-decoration: none;
 font-size: 30px;
 font-weight: 600;
 color:#ffd60a;
 margin: 0 25px; 
}
.btn{
 background-color: #ffd60a;
 padding: 5px 15px;
 border-radius: 20px;
 text-decoration: none;
 font-size: 30px;
 color: white;
 margin: 0 25px;
}
.right{
 position: absolute;
 right: 80px;
}





section{
 min-height: calc(100vh - 150px - 50px);
}
#hero{
 display: flex;
}
.korobka{
 width: 50%;
 display: flex;
 align-items: center;
 justify-content: center; 
}
.korobka2{
 width: 50%;
 display: flex;
 align-items: end;
 justify-content: center; 
}
h1{
 font-size: 100px;
 color: #ffd60a;
}
h2{
 font-size: 30px;
 margin: 0;
 color: #ffd60a;
}



.dflex{
 display: flex;
}
.ml50{
 margin-left: 50px;
}
.circle{
 width: 30px;
 height: 30px;
 border-radius: 100%;
 background-color:red;
}
.w400{
 width: 200px;
}




.krug{
 width: 800px;
 height: 800px;
 position: absolute;
 top: 400px;
 right: 30px;
 background: rgb(255,62,165);
 background: linear-gradient(90deg, rgba(255,62,165,1) 0%, rgba(255,181,218,1) 100%);
 z-index: 1;
 border-radius: 100%;
}
img{
 z-index: 2;
 width: 700px;
}
#aboutme{
 position: relative;
 z-index: 3;
 background-color: #003566;
}